@model Itminus.Barcode.TagHelpers.WebTestApp.BarcodeOptions
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <BitmapBarcode width="@Model.Width" height="@Model.Height" margin="@Model.Margin"
                   content="@Model.Content" alt="@Model.Alt"
                   barcode-format="QR_CODE"
                   image-format="System.Drawing.Imaging.ImageFormat.Png"></BitmapBarcode>
</div>
